.page {
  margin: 20px;
  background-color: #f6f6ef;
}

.header {
  background-color: rgb(255, 102, 0);
  padding: 5px;
}

.nav-links {
  display: flex;
}

.nav-links li a {
  font-size: 16px;
  list-style: none;
  padding-right: 7px;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h2 {
  padding-left: 10px;
}

input {
  font-size: 14px;
  width: 175px;
}

button {
  font-size: 14px;
}

form {
  text-align: center;
  margin-top: 5px;
}
.interactions {
  text-align: center;
}

.interactions > button {
  margin: 0 10px;
}

.table {
  margin: 20px 0;
}

.table-header {
  display: flex;
  line-height: 24px;
  font-size: 18px;
  padding: 0 10px;
}

.table-row {
  display: flex;
  line-height: 24px;
  white-space: nowrap;
  margin: 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #e3e3e3;
}

.table-header > span,
.table-row > span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}

.button-inline {
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 4px;
  font-size: inherit;
  cursor: pointer;
}

.button-reverse {
  display: flex;
  align-items: center;
  border: 1px rgb(255, 102, 0) solid;
  background: transparent;
  color: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 4px;
  font-size: inherit;
  cursor: pointer;
}

.button-reverse:focus,
.button-inline:focus {
  outline: none;
}

.button-active,
.button-active:hover {
  background-color: rgb(255, 102, 0);
  color: white;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  padding: 4px;
  font-size: inherit;
  cursor: pointer;
}
